
  
 <!DOCTYPE html>
<html>
<head>
  <title>Restful Task</title>
</head>
<body>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <form (submit)="createTask()">
   Task Name: <input type='text' name="name" [(ngModel)]='newTask.name'/>
    Description: <input type='text' name="description" [(ngModel)]='newTask.description'/>
    <input type='submit' value='Create Task'/>
  </form>
  
  <button (click)="getAllServiceTasks()">All Tasks</button>
  <!-- Implements a for loop for all the tasks using *ngfor !-->
  <div class="all_tasks" *ngFor="let task of tasks">
    <p><strong>{{task.name}}</strong></p>
    <p>{{task.description}}</p>
    <p>{{task.createdAt}}</p>
    <hr>    
  </div>

</body>
</html>