
 <!DOCTYPE html>
<html>
<head>
  <title>Restful Task</title>
</head>
<body>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <p> {{ newTask | json }} </p>
  <form (submit)="createTask()">
   Task Name: <input type='text' name="title" [(ngModel)]='newTask.title'/>
    Description: <input type='text' name="description" [(ngModel)]='newTask.description'/>
    <input type='submit' value='Create Task'/>
  </form>
  
  <!-- Will fill table with tasks !-->
  <button (click)="getAllServiceTasks()">All Tasks</button>
    <table>
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>View</th>
      <th>Delete</th>
      <th>Edit</th>
    </thead>
    <tbody>

      <!-- Implements a for loop for all the tasks using *ngfor !-->
      <tr *ngFor="let task of tasks">
        <td>{{task._id}}</td>
        <td>{{task.title}}</td>
        <td>{{task.description}}</td>
        <td><button (click)="getOneServiceTask(task._id)">View Task</button></td>
        <td><button (click)='removeServiceTask(task._id)'>Delete task</button></td>
        <td><button (click)='populateUpdateFields(task._id)'>Edit task</button></td>
      </tr>
    </tbody>
  </table>

  <!-- Initiates Edit !-->
  <div *ngIf="edit_task_toggle == true" class="editTask">
    <h2>Edit your task here</h2>
    {{ newTaskData | json }}
  <form (submit)='updateServiceTask(newTaskData._id)'>
   Title: <input type='text' name='newTaskData.title' [(ngModel)]='newTaskData.title'>
   Description: <input type='text' name='newTaskData.description' [(ngModel)]='newTaskData.description'>
    <input type='submit' value='Update'>
  </form>
  </div>
  <div *ngIf="task_clicked == true">
    <h1>Here is the task you wanted to show</h1>
    <p><strong>{{oneTask.title}}</strong></p>
    <p><strong>{{oneTask.description}}</strong></p>
  </div>

   

</body>
</html>