<!DOCTYPE html>
<html>
<head>
	<title>Dojo Form</title>
</head>
<body>
	<h1>Please fill out the following:</h1>
	<form>
		<label>Name:</label>
		<input type="text" name="name">
		<label>Dojo:</label>
		<select>
			<option>Chicago</option>
			<option>New York</option>
			<option>Los Angeles</option>
		</select>
		<label>Fighting Style</label>
		<select>
			<option>Jiu Jutsu</option>
			<option>Karate</option>
			<option>Kick Boxing</option>
		</select>
	</form>

</body>
</html>