<!DOCTYPE html>
<html>
<head>
	<title>Cats!</title>
</head>
<body>
	<a href="/carson"><img src="/images/blackcat.jpg"></a>
	<a href="/hector"><img src="/images/Whitecat.jpg"></a>
	<a href="/luke"><img src="/images/browncat.jpg"></a>
</body>
</html>