<!DOCTYPE html>
<html>
<head>
	<title>Survey Form MEAN</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
	<form action="/results" method="post">
		<label>Your Name:</label>
		<input type="text" name="name">
		<label>Dojo Location:</label>
		<select name="location">
			<option>Chicago</option>
			<option>New York</option>
			<option>Los Angeles</option>
		</select>
		<label>Comments:</label>
		<textarea name="comments"></textarea>
		<input type="submit" name="submit" value="Submit">
	</form>

</body>
</html>