<!DOCTYPE html>
<html>
<head>
	<title>Login and Register</title>
</head>
<body>
	<!--login!-->
	<h1>Login</h1>
	<form method='post' action='/login'>
	   Email: <input type='text' name='email'>
	   Password: <input type='password' name='password'>
	    <input type="submit" name="submit" value="Login">
	</form>
	<h1>Registration</h1>
	<!--register!-->
	<form method='post' action='/register'>
	   First Name: <input type='text' name='first_name'>
	   Last Name: <input type='text' name='last_name'>
	    Email:<input type='email' name='email'>
	    Password:<input type='password' name='password'>
	    <input type="submit" name="submit" value="Register">
	</form>
</body>
</html>