

<table>
	<thead>
		<tr>
			<th>Author ID</th>
			<th>Author</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor = "let author of authors">
			<!-- Interpolation !-->
			<td>{{author._id}}</td>
			<td>{{author.name}}</td>
			<td><button [routerLink] = "['edit/'+author._id]">Edit Author</button>
			<td><button routerLink = "new/quote"></button></td>
			<button (click) = "removeOneAuthor(author._id)">Delete Author</button></td>
			
		</tr>
	</tbody>
</table>
<!-- Uses router link to send to the create and edit components !-->
<button routerLink = '/new/author'>Create Author</button>
<!-- routerLink passes author.id to the editComponent !-->
<!-- routerLink passes an array !-->

